#header{
    border-radius: 100px;
    background-color: #000000a6;
}

#wrapper{
    padding: 5em 0 2em;
}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}